
/* MOBILE */
@media only screen and (max-width: 366px) {
    
    * {
        margin: 0;
    }

    .container.clearfix {
        width: auto;
    }

    .top {
        height: 40vh;
        width: auto;
    }

    .dates {
        width: auto;
    }

    .counter__title {
        width: auto;
    }

}

@media only screen and (max-width: 1280px) {

    .container.clearfix {
        width: auto;
    }

    .dates {
        width: auto;
    }

}

@media only screen and (max-width: 555px) {
    .add__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    button.add__check {
        margin-left: 0;
    }
}

@media only screen and (max-width: 500px) {
    /*
    .item.clearfix {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    */

    .add {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .counter__title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .counter__title p {
        font-size: 20px;
    }

    .date__title {
        font-size: 25px;
    }

    #sinal.item__description {
        font-size: 10px;
    }

    #firstdate.item__description {
        font-size: 16px;
    }

    #seconddate.item__description {
        font-size: 16px;
    }

    #resultdays.item__value {
        font-size: 16px;
    }

}
