
* {
    margin: 1px;
    padding: 1px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; 
}


body {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.7;
    color: #222222; 
}

section {
    padding: 10px 0;
}





.middle { float: right; }

/**** TOP PART ****/
  
.top {
    height: 40vh;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(bridge.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
  
.counter {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
  
.counter__title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}
  
.counter__value {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
  

  
.add {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}
  
.add__container {
    margin: 0 auto;
    text-align: center;
}
  
.add__date-one,
.add__date-two {
      border: 1px solid #e7e7e7;
      background-color: #fff;
      color: inherit;
      font-family: inherit;
      font-size: 14px;
      padding: 12px 15px;
      margin-right: 10px;
      border-radius: 5px;
      transition: border 0.3s;
}
  
.add__result {
      border: 1px solid #e7e7e7;
      background-color: #fff;
      color: inherit;
      font-family: inherit;
      font-size: 14px;
      padding: 12px 15px;
      margin-right: 10px;
      border-radius: 5px;
      transition: border 0.3s;
}
  
.add__date-one, .add__date-two { width: 170px;}
  
.add__result { width: 110px; }
  
.add__check {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}
  
.add__check:active { transform: translateY(2px); }
  
.add__date-one:focus,
.add__date-two:focus,
.add__result:focus {
      outline: none;
      border: 1px solid #18B9B5;
}
  
.add__check:focus { outline: none; }
  
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
  
  
  /**** DATES LIST ****/
  
.container {
    width: 1000px;
    margin: 60px auto;
    border-radius: 30px;
}
  
.dates {
    color: #18B9B5;
}
  
.date__title { 
    color: #28B9B5;
    text-align: center; 
}
  
.icome__title { color: #28B9B5; }
  
.item {
    padding: 13px;
    border-bottom: 1px solid #e7e7e7;
}
  
.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }
  
.item__description {
    float: left;
}
  
.item__value {
    float: left;
    transition: transform 0.3s;
}
    
.income .item__value,
.income .item__delete--btn {
    color: #28B9B5;
}
  
  
  
.item__delete {
    float: left;
}
  
.item__delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}
  
.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }

.item:hover .item__delete--btn { display: block; }
.item:hover .item__value { transform: translateX(-20px); }
  
  